$main-color: #19ce60;
.contents {
  //   width: 100%;
  //   padding: 20px;
  //   .content_box {
  //     width: 100%;
  //     margin-top: 20px;
  //     border-top: solid 1px #d9d9d9;
  // }
  .content_box {
    margin: 30px;
  }
  //   margin: 30px;
  border-bottom: solid 1px #d9d9d9;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  button {
    margin: 0 5px;
    width: 60px;
    height: 30px;
    border-radius: 2px;
  }
  .btn_major {
    color: #fff;
    background-color: $main-color;
    border: none;
  }
  .btn_minor {
    color: #656565;
    background: #f4f4f4;
    border: 1px solid #dddddd;
  }
}
