.contentbox_container {
  background-color: #eeeeee;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  cursor: pointer;

  .writer_box {
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
  }
  .title_box {
    padding: 10px;
    background-color: #e0e0e0;

    border-radius: 10px;
  }
  .contents_box {
    padding: 10px;
    border-radius: 10px;
  }
}
