.content_top {
    position: relative;
    padding: 18px 24px;
    border-bottom: 1px solid #ddd;
}

.top_title {
    a {
        text-decoration: none;
        color: #333;
    }
    .txt {
        display: inline-block;
        font-size: 22px;
    }
}
