$main-color: #19ce60;
//
.login {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .login_box {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gainsboro;
    padding: 100px 50px;

    .app_logo {
      width: 350px;
      color: $main-color;
    }
  }

  .login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    y .input {
      width: 300px;
      height: 40px;
      margin-bottom: 5px;
      padding-left: 10px;
      border: 1px solid $main-color;
    }
  }

  .btn_login {
    width: 316px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main-color;

    #login_submit {
      color: white;
      text-decoration: none;
    }
  }
}
